/* mainpage */
.cartContainer {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

/* offer */
.offer {
    background-color: rgb(227, 247, 231);
    padding: 1px 0px;
    font-size: 12px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

/* heading */
.header {
    width: 58%;
    margin: 2% auto;
    font-size: 20px;
    text-align: right;
}

.headerDivs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cartProd {
    display: flex;
    width: 140%;
    justify-content: space-between;
    text-align: left;
    border-top: 1px solid silver;
    padding: 10px;


}



.imageDiv {
    width: 120px;
    height: 160px;
    align-items: center;
}

.imageDiv>img {
    width: 100%;
    /* height: 100%;     */
}


.titleDesc {
    padding: 10px;
    /* font-size: 20px; */
}


.delBtn {
    font-size: 30px;
}



.Summary {
    width: 20%;
    text-align: left;

}

.pymtDiv {
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin: 10px 0;
    /* margin-right: 30px; */
}

.wishlist {
    align-items: center;
    color: black;
}

.checkoutBtn {
    width: 100%;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: black;
    padding: 5px;
}

.checkoutBtn:hover {
    background-color: #595959;

}

.quantity>select {
    width: 40%;
    font-size: 17px;
    text-align: center;
}